@import "general";

.todo-list-wrapper {
    width: 600px;
    border-radius: 20px;
    background-color: $blue_30;

    .header {
        width: 100%;
        height: 120px;
        background-color: $blue_30;
        @include flex();
        justify-content: space-between;
        padding: 0 30px;
        padding-bottom: 40px;
        border-radius: 20px 20px 0 0;

        &-title {
            color: #fff;
            font-size: 24px;
            font-family: gandom;
        }

        .options {
            @include flex();
            gap: 10px;
            margin-left: 14px;

            i {
                width: 40px;
                height: 40px;
                border-radius: 10px;
                @include flex();
                color: $blue-70;
                font-size: 22px;
                background-color: #ffe063;
                cursor: pointer;
            }
        }
    }

    .body {
        width: 90%;
        height: 500px;
        background-color: #FDF4F5;
        border-radius: inherit;
        position: relative;
        bottom: 40px;
        margin: 0 auto;

        .task-list {
            width: 100%;
            height: 100%;
            @include flex(c);
            justify-content: flex-start;
            gap: 15px;
            overflow-y: auto;
            padding: 20px 0;

            .task {
                @include flex();
                direction: rtl;
                width: 90%;
                gap: 30px;
                padding: 0 14px;
                background-color: #fffaf4;
                border-radius: 10px;
                box-shadow: 2px 2px 5px #c1c1c1;
                position: relative;

                &-title {
                    width: 60%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-weight: 500;
                    cursor: default;
                    padding-right: 10px;
                }

                &.vital {
                    border: 3px solid #c20000;
                    box-shadow: 3px 3px 5px #f42e2e;
                }

                &.important {
                    border: 5px solid #ffcc00;
                    box-shadow: 4px 4px 5px #ff9059;
                }

                &.normal {
                    border: 3px solid #2fcb00;
                    box-shadow: 2px 2px 5px #01bc07;
                }

                // done status code start 
                &.done {
                    background-color: #dedede;
                    color: gray;

                    .task-title {
                        position: relative;

                        &::after {
                            content: "";
                            width: 100%;
                            height: 2px;
                            border-radius: 10px;
                            background-color: #999999;
                            position: absolute;
                            left: 0;
                            top: 50%;
                            transform: rotate(-4deg) translateY(-50%);
                        }
                    }
                }

                // done status code end

                .action-btn-box {
                    @include flex();
                    width: 30%;
                    height: 60px;
                    gap: 10px;

                    i {
                        width: 30px;
                        height: 30px;
                        border-radius: 10px;
                        color: #fff;
                        @include flex();
                        cursor: pointer;

                        &:nth-child(1) {
                            background: linear-gradient(30deg, $blue_50, $blue_30);
                        }

                        &:nth-child(2) {
                            background: linear-gradient(30deg, #005818, #29a400);
                        }

                        &:nth-child(3) {
                            background: linear-gradient(30deg, #ff6200, #ffae00);
                        }

                        &:nth-child(4) {
                            position: absolute;
                            right: -14px;
                            top: 50%;
                            transform: translateY(-50%) scale(.8);
                            background: linear-gradient(30deg, #e8001b, #c50000);
                        }
                    }
                }
            }
        }
    }

    .footer {
        width: 100%;
        height: 60px;
        @include flex();
        gap: 30px;
        border-top: 2px solid gold;
        background-color: #370068;
        border-radius: 0 0 20px 20px;

        i {
            width: 45px;
            height: 45px;
            border-radius: 50%;
            @include flex();
            cursor: pointer;
            font-size: 20px;
            color: #060047;
            background: radial-gradient(#ecdd08, #ffd500);
        }
    }
}

.modal-bg {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    height: 100vh;
    background-color: #5b5b5b86;
    backdrop-filter: blur(10px);
    @include flex();
    transition: .5s;

    .new-task-info-container {
        width: 400px;
        height: 600px;
        border-radius: 10px;
        background-color: #fffaf4;
        @include flex(c);
        justify-content: flex-start;
        padding: 20px 0;

        .new-task-title {
            padding-bottom: 5px;
            text-align: center;
            width: 90%;
            border-bottom: 3px solid #370068;
        }

        .new-task-form {
            width: 100%;
            margin-top: 20px;
            @include flex(c);
            gap: 15px;
            justify-content: flex-start;

            .new-task-input {
                border: none;
                outline: none;
                width: 80%;
                direction: rtl;
                text-align: center;
                font-family: gandom;
                background-color: #cecece;
                border-radius: 10px;
                min-height: 35px;
                padding: 7px 10px;
                font-size: 18px;
                font-weight: 700;

                &::placeholder {
                    font-weight: 500;
                }

                &:focus {
                    background-color: #e3e3e3;
                }
            }

            .priority-box {
                width: 80%;
                margin-top: 20px;
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                direction: rtl;
                gap: 50px;

                .box-title {
                    font-size: 22px;
                }

                .priority-items {
                    @include flex(c);
                    align-items: flex-start;
                    gap: 20px;
                    transform: translateY(20px);

                    .item {
                        @include flex();
                        border-radius: 5px;
                        padding: 0 10px;
                        gap: 12px;
                        cursor: pointer;
                        font-size: 19px;

                        &.selected {
                            background-color: #dddddd;
                        }

                        &:nth-child(2) {
                            transform: translateX(-35px);
                        }

                        &:nth-child(3) {
                            transform: translateX(-70px);
                        }

                        .color {
                            width: 18px;
                            height: 18px;
                            border-radius: 50%;
                            background-color: #fff;
                            border: 3px solid;
                            @include flex();
                            font-size: 15px;

                            &.red {
                                border-color: red;
                            }

                            &.gold {
                                border-color: #ffc400;
                            }

                            &.green {
                                border-color: #00ff22;
                            }
                        }
                    }
                }
            }
            .description-container {
                width: 90%;
                margin-top: 20px;
                @include flex(c);
                align-items: flex-start;
                direction: rtl;

                .description-box {
                    width: 100%;
                    border: 2px groove silver;
                    border-radius: 10px;
                    font-size: 14px;
                    padding: 10px;
                    font-family: gandom;
                    line-height: 30px;
                    outline: none;
                }
            }
            .add-btn {
                width: 200px;
                height: 32px;
                border: none;
                border-radius: 10px;
                font-family: gandom;
                color: #fff;
                font-weight: 600;
                font-size: 18px;
                cursor: pointer;
                background: linear-gradient(30deg, #005818, #01bc07);
            }
        }
    }
}