* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "gandom";
  src: url("../fonts/Gandom.ttf") format("truetype");
}
::-webkit-scrollbar {
  width: 15px;
  background: linear-gradient(to bottom, #a3a3f3, #c1c1d6);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #000080;
  border-radius: 10px;
  border: 2px solid #c1c1d6;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  font-family: gandom;
  background: linear-gradient(20deg, #06001a, #000080);
}

.todo-list-wrapper {
  width: 600px;
  border-radius: 20px;
  background-color: #1717e6;
}
.todo-list-wrapper .header {
  width: 100%;
  height: 120px;
  background-color: #1717e6;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  padding: 0 30px;
  padding-bottom: 40px;
  border-radius: 20px 20px 0 0;
}
.todo-list-wrapper .header-title {
  color: #fff;
  font-size: 24px;
  font-family: gandom;
}
.todo-list-wrapper .header .options {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-left: 14px;
}
.todo-list-wrapper .header .options i {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #11004d;
  font-size: 22px;
  background-color: #ffe063;
  cursor: pointer;
}
.todo-list-wrapper .body {
  width: 90%;
  height: 500px;
  background-color: #FDF4F5;
  border-radius: inherit;
  position: relative;
  bottom: 40px;
  margin: 0 auto;
}
.todo-list-wrapper .body .task-list {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: flex-start;
  gap: 15px;
  overflow-y: auto;
  padding: 20px 0;
}
.todo-list-wrapper .body .task-list .task {
  display: flex;
  align-items: center;
  justify-content: center;
  direction: rtl;
  width: 90%;
  height: 60px;
  gap: 30px;
  padding: 0 8px;
  background-color: #f5eee4;
  border-radius: 10px;
  box-shadow: 2px 2px 5px #c1c1c1;
  border-right: none;
  position: relative;
}
.todo-list-wrapper .body .task-list .task-title {
  width: 70%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 600;
  cursor: default;
}
.todo-list-wrapper .body .task-list .task.vital {
  border: 3px solid #c20000;
  border-right: none;
  box-shadow: -3px 3px 5px #f42e2e;
}
.todo-list-wrapper .body .task-list .task.important {
  border: 5px solid #ffcc00;
  box-shadow: -4px 4px 5px #ff9059;
  border-right: none;
}
.todo-list-wrapper .body .task-list .task.normal {
  border: 3px solid #2fcb00;
  box-shadow: -2px 2px 5px #01bc07;
  border-right: none;
}
.todo-list-wrapper .body .task-list .task.done {
  background-color: #dedede;
  color: gray;
}
.todo-list-wrapper .body .task-list .task.done .task-title {
  position: relative;
}
.todo-list-wrapper .body .task-list .task.done .task-title::after {
  content: "";
  width: 100%;
  height: 2px;
  border-radius: 10px;
  background-color: #999999;
  position: absolute;
  left: 0;
  top: 50%;
  transform: rotate(-4deg) translateY(-50%);
}
.todo-list-wrapper .body .task-list .task .fa-check {
  width: 30px;
  height: 30px;
  border-radius: 10px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  right: -14px;
  top: 50%;
  transform: translateY(-50%) scale(0.8);
  background: linear-gradient(30deg, #005818, #29a400);
}
.todo-list-wrapper .body .task-list .task .fa-cog {
  width: 30px;
  height: 30px;
  border-radius: 10px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #370068;
  font-size: 22px;
  background-color: #ebebeb;
  width: 40px;
  height: 40px;
}
.todo-list-wrapper .body .task-list .task .action-btn-box {
  width: 200px;
  height: 45px;
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #ddd8ff;
  padding: 2px 0;
  clip-path: polygon(0 0, 100% 0%, 0 0, 0% 100%);
  transition: 0.5s;
}
.todo-list-wrapper .body .task-list .task .action-btn-box.show_actions {
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
}
.todo-list-wrapper .body .task-list .task .action-btn-box i {
  width: 30px;
  height: 30px;
  border-radius: 10px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.todo-list-wrapper .body .task-list .task .action-btn-box i.fa-eye {
  background: linear-gradient(30deg, #000080, #1717e6);
}
.todo-list-wrapper .body .task-list .task .action-btn-box i.fa-eraser {
  background: linear-gradient(30deg, #e8001b, #c50000);
}
.todo-list-wrapper .body .task-list .task .action-btn-box i.fa-pen {
  background: linear-gradient(30deg, #ff6200, #ffae00);
}
.todo-list-wrapper .body .task-list .task .action-btn-box i.fa-times {
  color: #c50000;
  margin-right: 20px;
  padding-right: 12px;
  font-size: 25px;
}
.todo-list-wrapper .footer {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  border-top: 2px solid gold;
  background-color: #370068;
  border-radius: 0 0 20px 20px;
}
.todo-list-wrapper .footer i {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 20px;
  color: #060047;
  background: radial-gradient(#ecdd08, #ffd500);
}

.modal-bg {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(91, 91, 91, 0.5254901961);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
}
.modal-bg.active {
  clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);
}
.modal-bg .modal_content {
  width: 400px;
  height: 600px;
  border-radius: 10px;
  background-color: #fffaf4;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px 0;
  position: relative;
}
.modal-bg .modal_content .close-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #d80000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: -10px;
  top: -10px;
  font-size: 24px;
  transform: scale(1.2);
  cursor: pointer;
}
.modal-bg .modal_content.new-task-info-container {
  display: none;
}
.modal-bg .modal_content.new-task-info-container.active {
  display: flex;
}
.modal-bg .modal_content.new-task-info-container .new-task-title {
  padding-bottom: 5px;
  text-align: center;
  width: 90%;
  border-bottom: 3px solid #370068;
}
.modal-bg .modal_content.new-task-info-container .new-task-form {
  width: 100%;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  justify-content: flex-start;
}
.modal-bg .modal_content.new-task-info-container .new-task-form .new-task-input {
  border: none;
  outline: none;
  width: 80%;
  direction: rtl;
  text-align: center;
  font-family: gandom;
  background-color: #cecece;
  border-radius: 10px;
  min-height: 35px;
  padding: 7px 10px;
  font-size: 18px;
  font-weight: 700;
}
.modal-bg .modal_content.new-task-info-container .new-task-form .new-task-input::placeholder {
  font-weight: 500;
}
.modal-bg .modal_content.new-task-info-container .new-task-form .new-task-input:focus {
  background-color: #e3e3e3;
}
.modal-bg .modal_content.new-task-info-container .new-task-form .priority-box {
  width: 80%;
  margin-top: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  direction: rtl;
  gap: 50px;
}
.modal-bg .modal_content.new-task-info-container .new-task-form .priority-box .box-title {
  cursor: default;
  font-size: 22px;
}
.modal-bg .modal_content.new-task-info-container .new-task-form .priority-box .priority-items {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  transform: translateY(20px);
}
.modal-bg .modal_content.new-task-info-container .new-task-form .priority-box .priority-items .item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 0 10px;
  gap: 12px;
  cursor: pointer;
  font-size: 19px;
}
.modal-bg .modal_content.new-task-info-container .new-task-form .priority-box .priority-items .item.selected {
  background-color: #dddddd;
}
.modal-bg .modal_content.new-task-info-container .new-task-form .priority-box .priority-items .item:nth-child(2) {
  transform: translateX(-35px);
}
.modal-bg .modal_content.new-task-info-container .new-task-form .priority-box .priority-items .item:nth-child(3) {
  transform: translateX(-70px);
}
.modal-bg .modal_content.new-task-info-container .new-task-form .priority-box .priority-items .item .color {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #fff;
  border: 3px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}
.modal-bg .modal_content.new-task-info-container .new-task-form .priority-box .priority-items .item .color.red {
  border-color: red;
}
.modal-bg .modal_content.new-task-info-container .new-task-form .priority-box .priority-items .item .color.gold {
  border-color: #ffc400;
}
.modal-bg .modal_content.new-task-info-container .new-task-form .priority-box .priority-items .item .color.green {
  border-color: #00ff22;
}
.modal-bg .modal_content.new-task-info-container .new-task-form .description-container {
  width: 90%;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  cursor: default;
  direction: rtl;
}
.modal-bg .modal_content.new-task-info-container .new-task-form .description-container .description-box {
  width: 100%;
  border: 2px groove silver;
  border-radius: 10px;
  font-size: 14px;
  padding: 10px;
  font-family: gandom;
  line-height: 30px;
  outline: none;
}
.modal-bg .modal_content.new-task-info-container .new-task-form .add-btn {
  width: 200px;
  height: 32px;
  border: none;
  border-radius: 10px;
  font-family: gandom;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
  background: linear-gradient(30deg, #005818, #01bc07);
}
.modal-bg .modal_content.daily-note {
  display: none;
}
.modal-bg .modal_content.daily-note.active {
  display: flex;
}
.modal-bg .modal_content.daily-note img[alt=note] {
  width: 50%;
  border-radius: 50%;
}
.modal-bg .modal_content.daily-note .note-title {
  width: 100%;
  text-align: center;
  margin: 10px 0;
}
.modal-bg .modal_content.daily-note .note {
  width: 90%;
  height: 240px;
  text-align: justify;
  padding: 14px 20px;
  direction: rtl;
  overflow-y: auto;
  background-color: #ddd8ff;
  border-radius: 10px;
  text-indent: 20px;
  margin-top: 10px;
  display: block;
}
.modal-bg .modal_content.daily-note textarea {
  width: 95%;
  height: 200px;
  margin-top: 20px;
  border-radius: 10px;
  direction: rtl;
  font-family: gandom;
  padding: 14px 20px;
  font-size: 16px;
  text-align: justify;
  line-height: 30px;
  color: #4a4a4a;
  font-weight: 600;
  outline: none;
  display: none;
}/*# sourceMappingURL=style.css.map */